* {
    padding: 0%;
    margin: 0%;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

#content1 {
    display: flex;
    position: absolute;
    top: 376px;
    left: 327px;
    width: 72%;
    flex-direction: row;
    align-items: stretch;
    align-content: center;
    
}




.fotoperfil1{
    margin-top: 3px;
	margin-right: 27px;
    
}



.contprincipal1 h3{
    display: block;
    font-size: 2em;
    color: white;
    margin-block-start: 0.67em;
    margin-inline-start: -254px;
}